@{
    ViewData["Title"] = "Welcome";
}

@using Microsoft.AspNetCore.Mvc.Localization
@using WebProje.Controllers

@inject IHtmlLocalizer<HomeController> HtmlLocalizer

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>@HtmlLocalizer["ShoppingCart"]</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@HtmlLocalizer["Name"]</th>
                                <th>@HtmlLocalizer["Price"]</th>
                                <th>@HtmlLocalizer["Quantity"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @if (ViewBag.Count > 1)
                            {
                                foreach (var item in ViewBag.Cart)
                                {
                                    <tr>
                                        <td class="cart_product_img">
                                            <a><img src="@Html.Raw(item.Product.image)" alt="Product"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>@Html.Raw(item.Product.name)</h5>
                                        </td>
                                        <td class="price">
                                            <span>@Html.Raw(item.Product.price)</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <p>Qty</p>
                                                <div class="quantity">
                                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="@Html.Raw(item.MyProperty)">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                } *@
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>@HtmlLocalizer["CartTotal"]</h5>
                    <ul class="summary-table">
                        @* @{
                            int total = 0;
                            foreach (var item in ViewBag.Cart)
                            {
                                total += item.Product.price * item.MyProperty;
                            }
                        } 
                        
                        <li><span>subtotal:</span> <span>@total</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>@total</span></li>
                        *@
                    </ul>
                    <div class="cart-btn mt-100">
                        <a href="cart.html" class="btn amado-btn w-100">@HtmlLocalizer["Checkout"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>